.App {
  text-align: center;
  text-align: -webkit-center;
  background: black;
}

form {
  padding-bottom: 20px;
}

input {
  max-width: 50%;
}

div.card {
  margin: 1% 25%;
  padding: 1rem;
}
h1 {
  color: white;
  padding: 2rem;
}
